@import "style.css";

.atividade-descp{
  line-height: 40px;
}

.atividade-container{
  padding: 0 128px;
}

.guardarAtividade-icon{
  display: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.atividade-img{
  border-radius: 16px;
  max-width: 350px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2{
  font-family: "Work Sans";
}