@import "style.css";

input[type="file"] {
  display: none;
}

.avatar-input{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url("/img/User\ DefaultAvatar.svg");
  object-fit: cover;
  cursor: pointer;
}

.perfilContainer{
  background-color: var(--grey18);
  border: 1px solid var(--mainGrey);
  border-radius: 16px;
}

.perfilInfo-container{
  padding: 24px 24px 0 24px;
}

.contaNavItem{
  padding: 1rem;
  width: min(30vw, 316px);
  min-width: 163px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.conta-changeInput{
  max-width: 428px;
  background-color: var(--grey25);
  border: 1px solid var(--mainGrey);
  border-radius: 12px;
  padding: 0.75rem;
  height: 50px;
}

.notif-ChoicesContainer{
  flex-wrap: wrap;
  gap: 0.75rem;
  max-width: 300px;
  background-color: var(--grey25);
  border: 1px solid var(--mainGrey);
  border-radius: 12px;
  padding: 1.5rem;
}

.notif-Choice{
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid var(--mainGrey);
  border-radius: 8px;
  transition: 0.3s;
}

.notif-Choice.active{
  background-color: var(--lightPurple);
  color: var(--mainBlack);
  border: 1px solid var(--lightPurple);
}

.conta-changeInput:hover{
  border-color: var(--mainWhite);
}

.conta-changeInput:focus{
  border-color: var(--mainWhite);
  outline:0px none transparent;
}

.perfilButton-container{
  padding: 16px 24px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: right;
  background-color: var(--grey25);
}

.contaNavItem:hover{
  color: var(--mainWhite);
  background-color: var(--grey18);
}

.contaNavItem.active{
  color: white;
  background-color: var(--grey18);
}

.d-none{
  display: none;
}