body{
    background-color: #171717;

}

.enquadrar{
    margin: 2% 25% 0% 25%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Tela_Inicio{
    width: 100%;
    height: auto;
}

.Iniciar_but{
    position: absolute;
    top: 54.5%;
    left: 16.5%;
    z-index: 1;
    width: 67%;
    height: auto;
}

.SR_Entrada{
    position: relative;
    width: 100%;
    height: auto;
}

.SR_oSala{
    position: relative;
    width: 100%;
    height: auto;
}

.back{
    position: absolute;
    top: 87%;
    left: 90%;
    z-index: 1;
    width: 6%;
    height: auto;
}

.chave_Entrada{
    position: absolute;
    top: 73%;
    left: 65%;
    z-index: 1;
    width: 2%;
}

.P1_Entrada{
    position: absolute;
    top: 18%;
    left: 2.3%;
    z-index: 1;
    width: 12.5%;
    height: auto;
}
.P2_Entrada{
    position: absolute;
    top: 34%;
    left: 25.5%;
    z-index: 1;
    width: 6.2%;
    height: auto;
}
.P3_Entrada{
    position: absolute;
    top: 22.5%;
    left: 78.1%;
    z-index: 1;
    width: 5%;
    height: auto;
}

.SR_Pc1_Int_Lock{
    position: relative;
    width: 100%;
    height: auto;
}
.SR_Pc1_Int_unLock{
    position: relative;
    width: 100%;
    height: auto;
}

.SR_Pc1_Int_Lock_button{
    position: absolute;
    top: 45.65%;
    left: 44.1%;
    z-index: 1;
    width: 12.1%;
    height: auto;
}

.Pc1_f_block{
    position:absolute;
    top: 65.5%;
    left: 0%;
    z-index: 1;
    width: 19%;
    height: auto;
}

.Pc1_Act_block{
    position:absolute;
    top: 53%;
    left: 52.3%;
    z-index: 1;
    width: 4%;
    height: auto;
}

.apresentador {
    position: absolute;
    height: 30%;
    left: 59%;
    top: 15.5%;
}
.overlayQWP{
    position: absolute;
    width: 70%;
    height: auto;
    left: 20%;
    top: 45%;
}
.overlay {
    position: absolute;
    border: solid grey 2px;
    width: 62.5%;
    height: 21%;
    left: 0.5%;
    top: 77%;
}

.hiperlay{
    width: 98.5%;
    height: 95.5%;
    color: snow;
    background-color: #171717;
}

.texto_qt{
    height: 40%;
    padding: 2%;
    color: rgb(0, 0, 0);
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid red 5px;
}

.Opt{
    margin-left: 20%;
    width: 60%;
    height: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 2px;
    border: solid red 5px;
    border-top: none;
}

.Opti{
    border: solid #000000 1px;
}

.bloco_da_consola1{
    position: absolute;
    top: 1%;
    left: 91%;
    height: 12%;
    width: 8%;
}
.bloco_da_consola2{
    position: absolute;
    top: 1%;
    left: 82%;
    height: 12%;
    width: 8%;
}
.bloco_da_consola3{
    position: absolute;
    top: 1%;
    left: 72%;
    height: 12%;
    width: 9%;
}
.bloco_da_consola4{
    position: absolute;
    top: 1%;
    left: 61.5%;
    height: 12%;
    width: 9%;
}
.bloco_da_consola5{
    position: absolute;
    top: 1%;
    left: 52%;
    height: 12%;
    width: 9%;
}
.bloco_da_consola6{
    position: absolute;
    top: 1%;
    left: 43%;
    height: 12%;
    width: 8%;
}

.SR_S2_Item{
    position: absolute;
    top: 35.5%;
    left: 73.3%;
    height: 14%;
    width: auto;
}
.SR_S2_Pc{
    position: absolute;
    top: 32%;
    left: 37%;
    height: 25%;
    width: 25.5%;
}

.escrever_inventário{
    margin: 0% 25% 0% 25%;
    font-size: larger;
    color: snow;
    font-family: sans-serif;
}

.inventário{
    margin: 0% 25% 0% 25%;
    border: 2px solid snow;
    padding: 2px;
    min-height: 75px;
    width: auto;
}

.Items{
    display: flex;
    flex-direction: row;
    height: 75px;
    width: auto;
    margin: 2px;
    cursor: pointer;
}

.Item_1_use{
    max-height: 75px;
    width: auto;
    border: 1px solid snow;
    margin: 2px;
}

.Pc2_Act_block{
    position: absolute;
    top: 49.3%;
    left: 62.4%;
    height: 9%;
    width: auto;
}

.Pc2_f_block{
    position: absolute;
    top: 21%;
    left: 23%;
    height: 29%;
    width: auto;
}

.SR_S3_Item{
    position: absolute;
    top: 72%;
    left: 48%;
    height: 5%;
    width: auto;}

.SR_S3_Pc{
    position: absolute;
    top: 42.5%;
    left: 46.2%;
    height: 10%;
    width: 7.5%;
}
.Corredor_P1{
    position: absolute;
    top: 24%;
    left: 88.4%;
    height: 73%;
    width: 10%;
}




.Corredor_P2{
    position: absolute;
    top: 32.5%;
    left: 6.2%;
    height: 40%;
    width: 9%;
}





.Corredor_Pc{
    position: absolute;
    top: 42.5%;
    left: 41%;
    height: 19%;
    width: 18%;
}
.Pc4_dist{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 45%;
}