@import "style.css";

.font-inherit{
  font: inherit;
}

.m-top-32{
  margin-top: 2rem;
}

.m-top-64{
  margin-top: 4rem;
}

.m-top-96{
  margin-top: 6rem;
}

.m-top-128{
  margin-top: 6rem;
}

.m-bot-128{
  margin-bottom: 6rem;
}

.hero-shape-square{
  position: relative;
  background-color: var(--mainWhite);
  width: 55px;
  height: 64px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-square-text{
  font-family: ClashDisplay-Medium;
  color: var(--mainBlack);
}

.hero-fillShape{
  transition: linear 0.6s;
  transform: translate(89px,19px);
}

.hero-fillShape-hover{
  transition: linear 0.6s;
  transform: translate(-148px,-77px);
}

.hero-shape{
  width: 384px;
  height: 386px;
}

.hero-topShape-container{
  position: absolute;
  transform: translate(91px,-512px);
}

.hero-topShape-text{
  font-family: ClashDisplay-Regular;
  color: var(--mainBlack);
  z-index: 1000;
}

.video-mask{
  width: 625px;
  height: 500px;
  object-fit: cover;
  mask: url(/img/videoMaskShape.svg);
}

.max-w-653{
  max-width: 653px;
}

.max-w-103{
  max-width: 103px;
}

#hero-shape-topSquare{
  transform: translate(170px,119px);
}

#hero-shape-topSquare:hover + svg defs mask g{
  transition: linear 0.6s;
  transform: translate(-148px,-77px);
} 