@import "style.css";

.font-inherit{
  font: inherit;
}

.m-top-32{
  margin-top: 2rem;
}

.m-top-64{
  margin-top: 4rem;
}

.m-top-96{
  margin-top: 6rem;
}

.m-top-128{
  margin-top: 6rem;
}

.m-bot-128{
  margin-bottom: 6rem;
}

.heroMask-top{
  transition: linear 0.6s;
  mask: url(/img/HoverMaskTop.svg);
  mask-repeat: no-repeat;
  mask-position: 89px 19px;
}

.heroMask-bottom{
  transition: linear 0.6s;
  mask: url(/img/HoverMaskBottom.svg);
  mask-repeat: no-repeat;
  mask-position: 83px -122px;
}

.heroMask-side{
  transition: linear 0.6s;
  mask: url(/img/HoverMaskSide.svg);
  mask-repeat: no-repeat;
  mask-position: 5px -102px;
}

.hero-shape-square{
  position: relative;
  background-color: var(--mainWhite);
  width: 55px;
  height: 64px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#hero-shape-sideSquare{
  position: relative;
  transform: translate(176px,54px);
  background-color: var(--mainWhite);
  width: 59px;
  height: 54px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.hero-square-text{
  font-family: ClashDisplay-Medium;
  color: var(--mainBlack);
}

.hero-shape{
  width: 384px;
  height: 386px;
}

.hero-topShape-container{
  position: absolute;
  transform: translate(91px,-512px);
}

.hero-bottomShape-container{
  position: absolute;
  transform: translate(46px,-130px);
}

.hero-sideShape-container{
  position: absolute;
  transform: translate(-112px,-246px);
}

.video-mask{
  width: 625px;
  height: 500px;
  object-fit: cover;
  mask: url(/img/videoMaskShape.svg);
}

.max-w-653{
  max-width: 653px;
}

.max-w-103{
  max-width: 103px;
}

#hero-shape-topSquare{
  transform: translate(170px,119px);
}

#hero-shape-bottomSquare{
  transform: translate(214px,64px);
}

#hero-shape-topSquare:hover + .heroMask-top{
  transition: linear 0.7s;
  mask-position: -150px -77px;
}

#hero-shape-bottomSquare:hover + .heroMask-bottom{
  transition: linear 0.7s;
  mask-position: -200px 0px;
}

#hero-shape-sideSquare:hover + .heroMask-side{
  transition: linear 0.6s;
  mask-position: -63px 35px;
}