@import "style.css";

.projeto-img{
  height: 100%;
  max-width: 1185.9px;
  object-fit: cover;
}

.projeto-slider{
  max-height: 770.68px;
  max-width: 1185.9px;
  overflow: hidden;
  border-radius: 18px;
  position: relative;
}

.slider-buttons{
  padding: 0 8px;
  position: absolute;
  top: 50%;
  z-index: 100;
 }

 .projeto-descp{
  max-width: 800px;
  line-height: 40px;
 }