body{
    background-color: #171717;

}

.enquadrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Tela_Inicio{
    position: relative;
    width: 50%;
    height: auto;
}

.Iniciar_but{
    position: absolute;
    top: 40%;
    left: 8%;
    z-index: 1;
    width: 34%;
    height: auto;
}

.SR_Entrada{
    position: relative;
    width: 50%;
    height: auto;
}

.SR_oSala{
    position: relative;
    width: 50%;
    height: auto;
}

.back{
    position: absolute;
    top: 480px;
    left: 695px;
    z-index: 1;
    width: 3%;
    height: auto;
}

.chave_Entrada{
    position: absolute;
    top: 390px;
    left: 480px;
    z-index: 1;
    width: 1%;
}